:root {
  --color-brand: rgba(129, 155, 87, 1);
  --color-secondary: rgba(250, 244, 234, 1);
  --color-accent: rgba(49, 38, 26, 1);
  --color-accent-dark: rgba(70, 89, 41, 1);
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

.btn {
  color: white;
  border: solid 2px var(--color-brand);
  border-radius: 8px;
  background-color: var(--color-brand);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--color-accent);
  border-color: var(--color-brand);
}
.link {
  color: var(--color-secondary);
}
.link:hover {
  color: var(--color-brand);
}

.hero-title {
  color: var(--color-secondary);
}
.hero-title .accent {
  color: var(--color-brand);
}
.advantages {
  color: var(--color-secondary);
  background-color: var(--color-brand);
}

.section-title {
  color: var(--color-accent);
}

.s-b {
  font-weight: bold;
  color: var(--color-brand);
}
.shefs {
  color: var(--color-accent-dark);
}
