:root {
  --color-brand: rgba(129, 155, 87, 1);
  --color-secondary: rgba(250, 244, 234, 1);
  --color-accent: rgba(49, 38, 26, 1);
  --color-accent-dark: rgba(70, 89, 41, 1);
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}

.btn {
  color: white;
  border: solid 2px var(--color-brand);
  border-radius: 8px;
  background-color: var(--color-brand);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover {
  background-color: transparent;
  color: var(--color-accent);
  border-color: var(--color-brand);
}
.link {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
}
.link:hover {
  color: var(--color-brand);
  text-decoration: underline;
  font-weight: 600;
}

.hero-title {
  color: var(--color-secondary);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand);
}
.advantages {
  color: var(--color-secondary);
  background-color: var(--color-brand);
}

.section-title {
  color: var(--color-accent);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.s-b span {
  color: var(--color-brand);
  text-transform: uppercase;
}
.s-bb {
  color: var(--color-brand);
}
.shefs {
  color: var(--color-accent-dark);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
.shefs-title {
  font-size: 40px;
  font-weight: 600;
}

.formats-list {
  font-size: 24px;
  font-weight: 600;
}
.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-secondary);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand);
}

.address-copy {
  font-size: 14px;
}
